html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

#cabe {
  background-color: #475D7F;
  height: 150px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#barra {
  width: 500px;
  height: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 100px;
  object-fit: cover;
  margin-right: 16px;
  margin-top: 20px;
}

#logo_nome {
  position: absolute;
  top: 27px;
  left: -50px;
  width: 500px;
  height: 100px;
  object-fit: cover;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  #barra {
    width: 90px;
    margin: 0 auto;
  }

  #logo {
    position: relative;
    width: 100px;
    height: auto;
    margin: 0;
  }

  #logo_nome {
    position: relative;
    width: 100px;
    height: auto;
    margin: 0;
  }

  #cabe {
    height: 100px;
  }
}

#pesquisa {
    cursor: pointer;
    width: 60px;
    position: absolute;
    margin-left: 30%;
  }

#perfil {
    width: 05%;
    position: absolute;
    margin-left: 90%;

}

#config {
    width: 09%;
    position: absolute;
    margin-left: 1820px;
}


  #seções {
    background-color: #475D7F;
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 100px;
  }

#secao {
  position: absolute;
  top: 0;
  left: -100px;
  width: 500px;
  height: 100px;
  object-fit: cover;
}

#class {
    position: absolute;
    top: 0;
    left: 130px;
    width: 500px;
    height: 100px;
    object-fit: cover;
}

.box {
  width: 200px;
  background-color: #475D7F;
  border: 0px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.centered-image {
  width: 100%;
  height: 65%;
  display: block;
  margin: 0 auto;
  margin-top: -50px;
}

.prod {
  color: white;
}

.box2 {
  width: 150px;
  background-color: #475D7F;
  border: 0px solid #ccc;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
}

.centered-image2 {
  width: 100%;
  height: 65%;
  display: block;
  margin: 0 auto;
  margin-top: -50px;
}


.prod2 {
  color: white;
  position: relative;
  top: 30px;
}

.box3 {
  width: 150px;
  background-color: #475D7F;
  border: 0px solid #ccc;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
}

.centered-image3 {
  width: 100%;
  height: 65%;
  display: block;
  margin: 0 auto;
  margin-top: -50px;
}

.prod3 {
  color: white;
  position: relative;
  top: 30px;
}
.box4 {
  width: 150px;
  background-color: #475D7F;
  border: 0px solid #ccc;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
}

.centered-image4 {
  width: 100%;
  height: 65%;
  display: block;
  margin: 0 auto;
  margin-top: -50px;
}

.prod4 {
  color: white;
  position: relative;
  top: 30px;
}

.box5 {
  width: 150px;
  background-color: #475D7F;
  border: 0px solid #ccc;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
}

.centered-image5 {
  width: 100%;
  height: 65%;
  display: block;
  margin: 0 auto;
  margin-top: -50px;
}

.prod5 {
  color: white;
  position: relative;
  top: 30px;
}

.box6 {
  width: 150px;
  background-color: #475D7F;
  border: 0px solid #ccc;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
}

.centered-image6 {
  width: 100%;
  height: 65%;
  display: block;
  margin: 0 auto;
  margin-top: -50px;
}

.prod6 {
  color: white;
  position: relative;
  top: 30px;
}

.st {
color: white;
}

#produtos {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  margin-top: 250px;
}

.footer {
  position: relative;
  top: 50px;
  color: white;
  background-color: #475D7F;
  padding: 01%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.fot {
  width: 10%;
}

.txtfoot {
  opacity: 60%;
}



.carousel {
  position: relative;
  width: 100%;
  height: 400px;
}

.carousel-inner {
  position: relative;
  right: -25%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-open:checked + .carousel-item {
  position: absolute;
  opacity: 100;
  -webkit-animation: fade 1.4s ease-in-out;
  animation: fade 1.4s ease-in-out;
}

.carousel-item {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: fade 1.4s ease-in-out;
  animation: fade 1.4s ease-in-out;
}

.carousel-control {
  position: absolute;
  top: 60%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 100;
  font-size: 30px;
  transition: background 0.6s ease;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.9);
}

.prev {
  left: 13%;
}

.next {
  right: 10%;
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
}

.carousel-open {
  position: relative;
  top: 20px;
  right: -430px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}