* {
  margin: 0;
  padding: 0;
  font-size: medium;
}
  
body {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  display: grid;
  position: static;
  margin-left: 34vw;
  margin-bottom: 15vh;
  height: 500px;
  width: 250px;
  grid-template-columns: 30vw;
}

.container div {
  padding: 20px;
  background-color:#475D7F;
}
  
.lolo {
  width: 16vw;
}

.inputs {
  width: 90%;
  height: 30%;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-bottom: 2px solid white;
  background: none;
  outline: none;
  box-shadow: none;
  color: white;
}
.escrita {  
  right: 80%;
  font-size: 120%;
  color: rgba(255, 255, 255, 0.801);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#botom {
  display: flex;
  justify-content: center;
  align-items: center;
}

button { 
  right: 45%;
  top: 20px;
  width: 190px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: #5c79a5;
  color: rgba(255, 255, 255, 0.801);
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
  background-color: #404f64de;
}

#fundo {
  font-size: 70%;
}

#link {
  color: rgba(255, 255, 255, 0.801);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#lika {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
  color: white;
  background-color:#475D7F;
  display: flex;
  padding: 23px;
  flex-direction: row;
  justify-content: space-evenly;
}
  
.fot{
  width: 10vw;
}

.txtfoot {
  opacity: 60%;
}